body{

    display: flex;
    flex-direction: column;

}

*{

    margin: 0;
    padding: 0;
    color: white;
}

.logo{

    width: 47px;
    
    
}

*{

    border: solid 2px red;
    font-family: "Jost", sans-serif;
}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
}

.header ul{

    display: flex;
    gap: 50px;
    margin-right: 30px;
    
}

li{

    list-style-type: none;

}

a{

    text-decoration: none;
    
    font-size: 25px;
}

.upper{

    flex: 1 1 400px;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
}

.bigtext{

    flex: 1;
    max-width: 350px;
    font-size: 40px;
    
}

.fightimg{

    
    height: 300px;

}

.smalltext{




}